<%= form_tag post_forum_path(@forum), remote: true do |f| %>
  <div class="field">
    <%= label_tag :content %><br>
    <%= text_area_tag :content %>
  </div>
  <div class="actions">
    <%= submit_tag "Post" %>
  </div>
<% end %>
