<%= form_tag comment_blog_path(@blog), remote: true do |f| %>
  <div class="field">
    <%= label_tag :content %><br>
    <%= text_area_tag :content %>
  </div>
  <div class="actions">
    <%= submit_tag "Comment" %>
  </div>
<% end %>
